<div class="main">
  <div class="screen-container">
    <input type="text" class="calculator-screen" value="0" disabled>
  </div>
  <div class="calculator">
    <div class="calculator-keys">
      <button type="button" class="operator" value="+">+</button>
      <button type="button" class="operator" value="-">-</button>
      <button type="button" class="operator" value="*">&times;</button>
      <button type="button" class="operator" value="/">&divide;</button>

      <button type="button" class="number-key" value="7">7</button>
      <button type="button" class="number-key" value="8">8</button>
      <button type="button" class="number-key" value="9">9</button>

      <button type="button" class="number-key" value="4">4</button>
      <button type="button" class="number-key" value="5">5</button>
      <button type="button" class="number-key" value="6">6</button>

      <button type="button" class="number-key" value="1">1</button>
      <button type="button" class="number-key" value="2">2</button>
      <button type="button" class="number-key" value="3">3</button>

      <button type="button" class="number-key number-zero" value="0">0</button>
      <button type="button" class="decimal" value=".">.</button>
      <button type="button" class="clear-all" value="clear-all">AC</button>

      <button type="button" class="equal-sign" value="=">=</button>
    </div>
  </div>
</div>
